// component css goes here
.grpFont{
    font-size: 20px;
    font-weight: 900;
    font-variant: normal;
    color: #004d87;
    display: inline-block;
}
.optionhigh2{
    border-radius: 5px 5px 5px 5px;
 }
 .casetito {
    cursor: pointer;
    height: auto;
    width: 230px;
}
.textAl{
    text-align: start;
}
