// component css goes here
.selectprior{
    border: none;
}
.btnaction{
float: left;
}
.mat-form-field {
    width: 100%;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding:0 !important;
}
textarea {
    resize: none;
  }
.pad{
    padding-top: 20px;
}