<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 overRoll" #pdfContent> 
        <form [formGroup]="myForm">

        <div class="col-xs-6"> 
            <!-- <p class="docName">Untitled document</p> -->
            <p class="docName">Untitled document</p>
            <!-- FILE -->
            <button class="menuBtn1" mat-button [matMenuTriggerFor]="menu1">File<i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <mat-menu class="matFile" #menu1="matMenu">
                <button mat-menu-item (click)="newDoc()"><img class="fileImg" src="assets/img/new.svg"/>&nbsp;New</button>
                <button mat-menu-item (click)="openDocumentDialog()"><img class="fileImg" src="assets/img/open.svg"/>&nbsp;Open</button>
                <button mat-menu-item (click)="saveDoc()"><img class="fileImg" src="assets/img/save.svg"/>&nbsp;Save</button>
                <!-- <button mat-menu-item (click)="uploadDoc()"><img class="fileImg" src="assets/img/upload.svg"/>&nbsp;Upload</button> -->
                <!-- <button mat-menu-item (click)="downloadDialog()"><img class="fileImg" src="assets/img/downloadFile.svg"/>&nbsp;Download</button> -->
                <button mat-menu-item (click)="deleteDoc()"><img class="fileImg" src="assets/img/trasho.svg"/>&nbsp;Delete</button> 
            </mat-menu>
            <!-- INSERT -->
            <button class="menuBtn2" mat-button [matMenuTriggerFor]="menu2">Insert<i class="fa fa-angle-down" aria-hidden="true"></i></button>
            <mat-menu class="matInsert" #menu2="matMenu" xPosition="before">
                <button mat-menu-item (click)="overviewOn()"><img class="imgoverView" src="assets/img/overview.svg"/>Overview</button>
                <button mat-menu-item (click)="sectionOn()"><img class="imgsecView" src="assets/img/section.svg"/>&nbsp;&nbsp;Section</button>
                <button mat-menu-item (click)="subsectionOn()"><img class="imgView" src="assets/img/subsection.svg"/>&nbsp;Sub-Section 1</button>
                <button mat-menu-item (click)="subsubsectionOn()"><img class="imgView" src="assets/img/subsection.svg"/>&nbsp;Sub-Section 2</button>
                <button mat-menu-item (click)="paragraphOn()"><img class="imgView" src="assets/img/paragraph.svg"/>&nbsp;Paragraph</button>
                <button mat-menu-item (click)="orderlistOn()"><img class="imgView" src="assets/img/order.svg"/>&nbsp;Ordered list</button>
                <button mat-menu-item (click)="unorderlistOn()"><img class="imgView" src="assets/img/unord.svg"/>&nbsp;Unordered list</button>
                <button mat-menu-item (click)="insertPageBreak()"><img class="imgPort" src="assets/img/pagebreak.svg"/>Page Break</button>
            </mat-menu>
        </div>
        
        <div class="form-group">
            <label for="title" class="lableTitle">Title</label>
            <input formControlName="title" [(ngModel)]="title" type="text" class="text-size form-control createDoc" name="title" oninput="this.value = this.value.replace(/[^A-Za-z0-9-_/#&+()@!$%*|+=?`~<>,. ]|^ /g,'')"><!--maxlength="50"-->
        </div>

        <div class="form-group">
            <label for="title" class="lableTitle">Author</label>
            <input formControlName="author" [(ngModel)]="author" type="text" class="text-size form-control createDoc" name="title" oninput="this.value = this.value.replace(/[^A-Za-z0-9-_/#&+()@!$%*|+=?`~<>,. ]|^ /g,'')"><!--maxlength="150"-->
        </div>

        <div class="form-group">
            <label for="title" class="lableTitle">Created</label>
            <input type="text" class="text-size form-control createDoc" name="title" disabled>
        </div>

        <!-- OVERVIEW -->
        <div class="form-group" id="narrow" *ngIf="isOverview"><!-- *ngIf="isOverview" -->            
            <label for="title" class="lableTitle" style="padding-right:5px">Overview</label> 
            <input formControlName="overviewTitle" maxlength="50" [(ngModel)]="overviewTitle" class="overviewTitle" type="text" [disabled]="isDisabled"/><!--(ngModelChange)="hypenUpdate($event)"-->
            <img (click)="openOverviewDialog()" class="expand" src="assets/img/expand.svg"/>
            <i class="fa fa-times close" aria-hidden="true" (click)="isOverview = !isOverview; overview = ''; overviewTitle =''"></i>
            <textarea formControlName="overview" [(ngModel)]="overview" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
       </div>
        
       <!-- SECTION -->
       <div class="form-group" id="narrow" *ngIf="isSectionCompleted && isSection">         
        <label for="title" class="lableTitle" style="padding-right:5px">Section</label> 
        <input formControlName="sectionTitle" maxlength="50" [(ngModel)]="sectionTitle" class="overviewTitle" type="text" [disabled]="isDisabled"/><!--(ngModelChange)="hypenUpdate($event)"-->
        <img (click)="openSectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close" aria-hidden="true" (click)="isSection = !isSection; section = ''; sectionTitle ='';isSectionCompleted = !isSectionCompleted"></i>
        <textarea formControlName="section" [(ngModel)]="section" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
      </div>

      <!-- SUB SECTION -->
      <div class="form-group subsec" id="narrow" *ngIf="isSectionCompleted && issubSection">            
        <label for="title" class="lableTitle" style="padding-right:5px">Sub Section 1</label> 
        <input formControlName="subsectionTitle" maxlength="50" [(ngModel)]="subsectionTitle" class="overviewTitle" type="text" [disabled]="isDisabled"/><!--(ngModelChange)="hypenUpdate($event)"-->
        <img (click)="opensubSectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close" aria-hidden="true" (click)="issubSection = !issubSection; subsection = ''; subsectionTitle =''"></i>
        <textarea formControlName="subsection" [(ngModel)]="subsection" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
      </div>

      <!-- SUB SUB SECTION -->
      <div class="form-group subsubsec" id="narrow" *ngIf="isSectionCompleted && issubsubSection">            
        <label for="title" class="lableTitle" style="padding-right:5px">Sub Section 2</label> 
        <input formControlName="subsubsectionTitle" maxlength="50" [(ngModel)]="subsubsectionTitle" class="overviewTitle" type="text" [disabled]="isDisabled"/><!--(ngModelChange)="hypenUpdate($event)"-->
        <img (click)="opensubsubSectionDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close" aria-hidden="true" (click)="issubsubSection = !issubsubSection; subsubsection = ''; subsubsectionTitle =''"></i>
        <textarea formControlName="subsubsection" [(ngModel)]="subsubsection" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
      </div>
              
      <!-- PARAGRAPH -->
      <div class="form-group" id="narrow" *ngIf="isParagraph">        
        <label for="title" class="lableTitle" style="padding-right:5px">Paragraph</label> 
        <input formControlName="paragraphTitle" maxlength="50" [(ngModel)]="paragraphTitle" class="overviewTitle" type="text" [disabled]="isDisabled"/><!--(ngModelChange)="hypenUpdate($event)"-->
        <img (click)="openParagraphDialog()" class="expand" src="assets/img/expand.svg"/>
        <i class="fa fa-times close" aria-hidden="true" (click)="isParagraph = !isParagraph; paragraph = ''; paragraphTitle =''"></i>
        <textarea formControlName="paragraph" [(ngModel)]="paragraph" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
      </div>
            
      <!-- ORDERED LISTS *ngIf="isOrderlist" -->
    <div class="form-group" id="narrow" *ngIf="isOrderlist">
        <label for="title" class="lableTitle" style="padding-right:5px">Ordered List</label>
        <!-- <input formControlName="orderlistTitle" [(ngModel)]="orderlistTitle" maxlength="50" (ngModelChange)="hypenUpdate($event)" class="overviewTitle" type="text" [disabled]="isDisabled" /> -->
        <!-- <img (click)="openOrderlistDialog()" class="expand" src="assets/img/expand.svg" /> -->
        <i class="fa fa-times close" aria-hidden="true" (click)="isOrderlist = !isOrderlist; orderlist = ''; orderlistTitle =''"></i>
        
        <div formArrayName="orderListItems">
            <div class="oderAlign" *ngFor="let item of orderListItems.controls; let i = index;" [formGroupName]="i">
                <input formControlName="orderlist" type="text" class="text-size form-control createDoc"/> 
                <i class="fa-solid fa-trash delIcon" (click)="removeorderList(i)"></i>
            </div>
        </div>
    
        <div><img class="addBtn" (click)="addorderList()" src="assets/img/addnotes.svg" /> <p class="addMore">Add More</p></div>
    </div>

    <!-- UNORDERED LISTS -->
    <div class="form-group" id="narrow" *ngIf="isunOrderlist">
        <label for="title" class="lableTitle" style="padding-right:5px">Unordered List</label>
        <!-- <input formControlName="unorderlistTitle" [(ngModel)]="unorderlistTitle" maxlength="50" (ngModelChange)="hypenUpdate($event)" class="overviewTitle" type="text" [disabled]="isDisabled" /> -->
        <!-- <img (click)="openunOrderlistDialog()" class="expand" src="assets/img/expand.svg" /> -->
        <i class="fa fa-times close" aria-hidden="true" (click)="isunOrderlist = !isunOrderlist; unorderlist = ''; unorderlistTitle =''"></i>
        
        <div formArrayName="unorderListItems">
            <div class="oderAlign" *ngFor="let item of unorderListItems.controls; let i = index" [formGroupName]="i">
                <input formControlName="unorderlist" type="text" class="text-size form-control createDoc" /> 
                <i class="fa-solid fa-trash delIcon" (click)="removeunorderList(i)"></i>
            </div>
        </div>
    
        <div><img class="addBtn" (click)="addunorderList()" src="assets/img/addnotes.svg" /> <p class="addMore">Add More</p></div>
    </div>

     <!-- PAGE BREAK -->
    <div class="form-group" id="narrow" *ngIf="!isPageBreak"><!-- *ngIf="isPageBreak" -->
        <div class="page-break content" #content></div>
    </div>

    </form>
   </div>
   


<!------ Right Preview -->
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="container">
            <p class="preview">Preview</p>
            <p><img (click)="getPreview()" class="eyeco" src="assets/img/eyesico.svg"></p>
        </div>

        <div class="row containerbox">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row inforowaling">
                        <div class="col-sm-1 arrowcolumn">
                            <div class="infocontainerleft">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="iframeStyle">
            <!-- <p>O: {{overviewTitle}}</p> -->
            <iframe height="100%" width="100%" class="responsive-iframe" [src]="pdfSrc" frameborder="0">
                <div class="form-group">
                </div>
            </iframe>
        </div>

    </div>
</div> 

<!-- <app-dialog-box (oversubmitted)="addData($event)"> </app-dialog-box> -->
