<!-- OVERVIEW -->
<div class="overviewDialog" *ngIf="overviewDialog">
    <!-- <div class="overviewText"> 
        <h1 class="overedText" mat-dialog-title>Overview</h1>
    </div> -->
    <form [formGroup]="overviewForm">
    <div class="closeDialog">
        <i class="fa fa-times xClose" (click)="closeDialog()" aria-hidden="true"></i>
    </div>

    <div class="openDialog">
        <div class="form-group">
            <label for="title" class="lableTitle">Overview Title</label>
            <input formControlName="overviewTitle" [(ngModel)]="overviewTitle" type="text" maxlength="50" (ngModelChange)="prependHyphen($event)" class="text-size form-control createDoc" name="title">
        </div>

        <div class="form-group">
            <label for="title" class="lableTitle">Text</label>
                <div class="container-fluid listRoll" formArrayName="overviewListItems">
                    <div class="oderAlign" *ngFor="let item of overviewForm.get('overviewListItems').controls; let i = index" [formGroupName]="i">
                        <textarea formControlName="overview" class="text-size form-control textareaDoc" rows="3" cols="50"></textarea>
                  </div>
                  <div><img class="addBtn" (click)="addoverviewList()" src="assets/img/addnotes.svg" /> <p class="addMore">Add More</p></div>
                </div>
        </div>

        <div class="overviewSave">
        <button type="submit" (click)="save()" class="btn btn-default btnsave savecls">Save</button> 
      </div>

    </div>
    </form>
    
</div>
